extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  #cover
    ul#scene1
      
      li.layer(data-depth='0.80')
        img.one(src='/img/memphis.jpg')
      li.layer(data-depth='0.40')
        img.two(src='/img/memphis.jpg')
      li.layer(data-depth='0.00')
        img.three(src='/img/memphis.jpg')
      
    ul#scene2
      li.layer(data-depth='0.80')
        img.one(src='/img/full.jpg')
      li.layer(data-depth='0.40')
        img.two(src='/img/full.jpg')
      li.layer(data-depth='0.00')
        img.three(src='/img/full.jpg')
    ul#scene3
      li.layer(data-depth='0.80')
        .logos
          img.np(srcset='/img/np.png 1x, /img/np@2x.png 2x')
          img.ci(srcset='/img/ci.png 1x, /img/ci@2x.png 2x')
  #vision
    h1
      | Noplace is a biannual digital magazine 
      br
      | that will let you travel trough the stories of people doing outstanding things around the globe.    
  #mission
    h2
      | The magazine collects photographic essays, interviews and article inspired by a common topic for each issue, related to fashion, culture, art, architecture, design, food and lifestyle.
  #instagram-feed
    each instagram in instagrams
      //- script.
      //-   var instagram = !{JSON.stringify(instagram.images.standard_resolution)}
      //-   console.log(instagram)
      .instagram
        .picture
          a(href="#{instagram.link}", target="_blank")
            img(src="#{instagram.images.standard_resolution.url}")/
            .hover
              .bkgr
              .text
                p= instagram.likes.count
                h3= instagram.caption.text
  
  
  
  #subscribe
    h3
      | Noplace  will be available on all major e-book distribution platforms starting from Autumn 2015.
    form#mailchimp(action='#', method='post', class='form-inline')
      div#form(class='input-append')
        input.email(type='email', name='email', placeholder='SIGNUP FOR OUR NEWSLETTER')
        button.submit(type='submit', class='btn')
          i.fa.fa-arrow-right.fa-2x
    #success
      p Subscribed! Check your mail for confirmation
    #error
      p An error occurred. Reload page and try again

  #social
    p follow us
    a(href="https://instagram.com/noplacemag/")
      i.fa.fa-instagram.fa-2x
    a(href="https://twitter.com/noplacemag")
      i.fa.fa-twitter.fa-2x
    a(href="https://www.facebook.com/noplacemag?fref=ts")
      i.fa.fa-facebook.fa-2x
    a(href="http://airportmag.tumblr.com")
      i.fa.fa-tumblr.fa-2x
  #footer
    p ©2015 Noplace Magazine — a Belafonte Studio publication, all rights reserved.
    
